--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_cliente (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    cnpj character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    ativo boolean NOT NULL
);


ALTER TABLE public.cliente_app_cliente OWNER TO postgres;

--
-- Name: cliente_app_cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_cliente ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_cliente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_conexao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_conexao (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    host character varying(100) NOT NULL,
    database_path character varying(255) NOT NULL,
    usuario character varying(50) NOT NULL,
    senha character varying(50) NOT NULL,
    cliente_id bigint NOT NULL,
    port_local character varying(50) NOT NULL
);


ALTER TABLE public.cliente_app_conexao OWNER TO postgres;

--
-- Name: cliente_app_conexao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_conexao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_conexao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_permissao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_permissao (
    id bigint NOT NULL,
    modulo character varying(100) NOT NULL,
    permitido boolean NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_permissao OWNER TO postgres;

--
-- Name: cliente_app_permissao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_permissao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_permissao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_projetoaplicacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_projetoaplicacao (
    cod integer NOT NULL,
    nome_projeto character varying(100) NOT NULL,
    nome_aplicacao character varying(100) NOT NULL
);


ALTER TABLE public.cliente_app_projetoaplicacao OWNER TO postgres;

--
-- Name: cliente_app_projetoaplicacao_cod_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_projetoaplicacao ALTER COLUMN cod ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_projetoaplicacao_cod_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_secgroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_secgroup (
    id bigint NOT NULL,
    group_id character varying(50) NOT NULL,
    description character varying(255) NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_secgroup OWNER TO postgres;

--
-- Name: cliente_app_secgroup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_secgroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_secgroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_secgroupapp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_secgroupapp (
    cod integer NOT NULL,
    cod_modulo character varying(50) NOT NULL,
    cod_projeto character varying(50) NOT NULL,
    app_name character varying(100) NOT NULL,
    priv_access boolean NOT NULL,
    priv_insert boolean NOT NULL,
    priv_update boolean NOT NULL,
    priv_export boolean NOT NULL,
    priv_print boolean NOT NULL,
    priv_jaentrego boolean NOT NULL,
    cliente_id bigint NOT NULL,
    group_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_secgroupapp OWNER TO postgres;

--
-- Name: cliente_app_secgroupapp_cod_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_secgroupapp ALTER COLUMN cod ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_secgroupapp_cod_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_secsettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_secsettings (
    id bigint NOT NULL,
    set_name character varying(50) NOT NULL,
    set_value text NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_secsettings OWNER TO postgres;

--
-- Name: cliente_app_secsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_secsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_secsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_secuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_secuser (
    id bigint NOT NULL,
    login character varying(50) NOT NULL,
    pswd character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    active boolean NOT NULL,
    activation_code character varying(100),
    priv_admin boolean NOT NULL,
    mfa boolean NOT NULL,
    picture character varying(100),
    role character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    pswd_last_updated timestamp with time zone NOT NULL,
    mfa_last_updated timestamp with time zone NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_secuser OWNER TO postgres;

--
-- Name: cliente_app_secuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_secuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_secuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente_app_secusersgroups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente_app_secusersgroups (
    id bigint NOT NULL,
    cliente_id bigint NOT NULL,
    group_id bigint NOT NULL,
    login_id bigint NOT NULL
);


ALTER TABLE public.cliente_app_secusersgroups OWNER TO postgres;

--
-- Name: cliente_app_secusersgroups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente_app_secusersgroups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_app_secusersgroups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$ynXAZiBxK0AD3wI8Twvk9g$HjlTBB71zn/4/KM1GeGX+RZL6bfCS6s4rIn3A4PN75o=	2025-06-26 14:27:57.781044+00	t	matheusxsqdl			tetavrau@gmail.com	t	t	2025-06-26 14:27:32.23091+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_cliente (id, nome, cnpj, email, ativo) FROM stdin;
1	EXPERT TECNOLOGIA E GESTAO LTDA	04.718.426/0001-36	maatheuss.celestinoo@gmail.com	t
\.


--
-- Data for Name: cliente_app_conexao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_conexao (id, nome, host, database_path, usuario, senha, cliente_id, port_local) FROM stdin;
\.


--
-- Data for Name: cliente_app_permissao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_permissao (id, modulo, permitido, cliente_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_projetoaplicacao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_projetoaplicacao (cod, nome_projeto, nome_aplicacao) FROM stdin;
3	Dashboard	Dashboard da Silva
4	Mobile	Vendas Mobile
5	Qr Code	Qr Code s/ ficha
6	Qr Code Ficha	Qr Code c/ ficha
7	Login Pedido	Encomenda por App. (Delivery encomendado)
8	Retaguarda	Retaguarda dos clientes
9	Relat├│rios	Relat├│rios de Estoque, Vendas e etc.
10	Estoque	Acerto de Estoque e afins;
11	Delivery	Delivery de comidas.
\.


--
-- Data for Name: cliente_app_secgroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_secgroup (id, group_id, description, cliente_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_secgroupapp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_secgroupapp (cod, cod_modulo, cod_projeto, app_name, priv_access, priv_insert, priv_update, priv_export, priv_print, priv_jaentrego, cliente_id, group_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_secsettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_secsettings (id, set_name, set_value, cliente_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_secuser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_secuser (id, login, pswd, name, email, active, activation_code, priv_admin, mfa, picture, role, phone, pswd_last_updated, mfa_last_updated, cliente_id) FROM stdin;
\.


--
-- Data for Name: cliente_app_secusersgroups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente_app_secusersgroups (id, cliente_id, group_id, login_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	cliente_app	cliente
8	cliente_app	conexao
9	cliente_app	permissao
10	cliente_app	clienteseguranca
11	cliente_app	secgroup
12	cliente_app	secgroupapp
13	cliente_app	secuser
14	cliente_app	secsettings
15	cliente_app	secusersgroups
34	cliente_app	projetoaplicacao
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
49gvll5z0r152sd22pnhqcy9qyqgzh45	.eJxVjDsOwjAQBe_iGlnrX2xT0nMGa9cfHEC2FCcV4u4QKQW0b2beiwXc1hq2kZcwJ3Zmgp1-N8L4yG0H6Y7t1nnsbV1m4rvCDzr4taf8vBzu30HFUb-1jxHcZI0puUgU2qsCICFpH40tmlQy0jmhLRX0YCfyEYlQFQsAloi9P9aSN8w:1uUna1:IWOlJBCGnyyht3KOqUTaiM1qGsb9tmxJ8LlCwI_T3HM	2025-07-10 14:27:57.783189+00
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 70, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: cliente_app_cliente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_cliente_id_seq', 1, true);


--
-- Name: cliente_app_conexao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_conexao_id_seq', 1, false);


--
-- Name: cliente_app_permissao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_permissao_id_seq', 1, false);


--
-- Name: cliente_app_projetoaplicacao_cod_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_projetoaplicacao_cod_seq', 11, true);


--
-- Name: cliente_app_secgroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_secgroup_id_seq', 1, false);


--
-- Name: cliente_app_secgroupapp_cod_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_secgroupapp_cod_seq', 1, false);


--
-- Name: cliente_app_secsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_secsettings_id_seq', 1, false);


--
-- Name: cliente_app_secuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_secuser_id_seq', 1, false);


--
-- Name: cliente_app_secusersgroups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_app_secusersgroups_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 10, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 34, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: cliente_app_cliente cliente_app_cliente_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_cliente
    ADD CONSTRAINT cliente_app_cliente_cnpj_key UNIQUE (cnpj);


--
-- Name: cliente_app_cliente cliente_app_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_cliente
    ADD CONSTRAINT cliente_app_cliente_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_conexao cliente_app_conexao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_conexao
    ADD CONSTRAINT cliente_app_conexao_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_permissao cliente_app_permissao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_permissao
    ADD CONSTRAINT cliente_app_permissao_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_projetoaplicacao cliente_app_projetoaplicacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_projetoaplicacao
    ADD CONSTRAINT cliente_app_projetoaplicacao_pkey PRIMARY KEY (cod);


--
-- Name: cliente_app_secgroup cliente_app_secgroup_cliente_id_group_id_55e36c0e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroup
    ADD CONSTRAINT cliente_app_secgroup_cliente_id_group_id_55e36c0e_uniq UNIQUE (cliente_id, group_id);


--
-- Name: cliente_app_secgroup cliente_app_secgroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroup
    ADD CONSTRAINT cliente_app_secgroup_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_secgroupapp cliente_app_secgroupapp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroupapp
    ADD CONSTRAINT cliente_app_secgroupapp_pkey PRIMARY KEY (cod);


--
-- Name: cliente_app_secsettings cliente_app_secsettings_cliente_id_set_name_bc31e0c5_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secsettings
    ADD CONSTRAINT cliente_app_secsettings_cliente_id_set_name_bc31e0c5_uniq UNIQUE (cliente_id, set_name);


--
-- Name: cliente_app_secsettings cliente_app_secsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secsettings
    ADD CONSTRAINT cliente_app_secsettings_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_secuser cliente_app_secuser_cliente_id_login_e980960a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secuser
    ADD CONSTRAINT cliente_app_secuser_cliente_id_login_e980960a_uniq UNIQUE (cliente_id, login);


--
-- Name: cliente_app_secuser cliente_app_secuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secuser
    ADD CONSTRAINT cliente_app_secuser_pkey PRIMARY KEY (id);


--
-- Name: cliente_app_secusersgroups cliente_app_secusersgrou_cliente_id_login_id_grou_9305e091_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secusersgroups
    ADD CONSTRAINT cliente_app_secusersgrou_cliente_id_login_id_grou_9305e091_uniq UNIQUE (cliente_id, login_id, group_id);


--
-- Name: cliente_app_secusersgroups cliente_app_secusersgroups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secusersgroups
    ADD CONSTRAINT cliente_app_secusersgroups_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: cliente_app_cliente_cnpj_7130ecbc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_cliente_cnpj_7130ecbc_like ON public.cliente_app_cliente USING btree (cnpj varchar_pattern_ops);


--
-- Name: cliente_app_conexao_cliente_id_1b5719a8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_conexao_cliente_id_1b5719a8 ON public.cliente_app_conexao USING btree (cliente_id);


--
-- Name: cliente_app_permissao_cliente_id_2cc16b59; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_permissao_cliente_id_2cc16b59 ON public.cliente_app_permissao USING btree (cliente_id);


--
-- Name: cliente_app_secgroup_cliente_id_b2d0a20a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secgroup_cliente_id_b2d0a20a ON public.cliente_app_secgroup USING btree (cliente_id);


--
-- Name: cliente_app_secgroupapp_cliente_id_22b0a6c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secgroupapp_cliente_id_22b0a6c8 ON public.cliente_app_secgroupapp USING btree (cliente_id);


--
-- Name: cliente_app_secgroupapp_group_id_65f270f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secgroupapp_group_id_65f270f1 ON public.cliente_app_secgroupapp USING btree (group_id);


--
-- Name: cliente_app_secsettings_cliente_id_9d1f3f1d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secsettings_cliente_id_9d1f3f1d ON public.cliente_app_secsettings USING btree (cliente_id);


--
-- Name: cliente_app_secuser_cliente_id_112b4188; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secuser_cliente_id_112b4188 ON public.cliente_app_secuser USING btree (cliente_id);


--
-- Name: cliente_app_secusersgroups_cliente_id_e8d8684c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secusersgroups_cliente_id_e8d8684c ON public.cliente_app_secusersgroups USING btree (cliente_id);


--
-- Name: cliente_app_secusersgroups_group_id_46d29529; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secusersgroups_group_id_46d29529 ON public.cliente_app_secusersgroups USING btree (group_id);


--
-- Name: cliente_app_secusersgroups_login_id_dc60b984; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cliente_app_secusersgroups_login_id_dc60b984 ON public.cliente_app_secusersgroups USING btree (login_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_conexao cliente_app_conexao_cliente_id_1b5719a8_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_conexao
    ADD CONSTRAINT cliente_app_conexao_cliente_id_1b5719a8_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_permissao cliente_app_permissa_cliente_id_2cc16b59_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_permissao
    ADD CONSTRAINT cliente_app_permissa_cliente_id_2cc16b59_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secgroupapp cliente_app_secgroup_cliente_id_22b0a6c8_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroupapp
    ADD CONSTRAINT cliente_app_secgroup_cliente_id_22b0a6c8_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secgroup cliente_app_secgroup_cliente_id_b2d0a20a_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroup
    ADD CONSTRAINT cliente_app_secgroup_cliente_id_b2d0a20a_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secgroupapp cliente_app_secgroup_group_id_65f270f1_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secgroupapp
    ADD CONSTRAINT cliente_app_secgroup_group_id_65f270f1_fk_cliente_a FOREIGN KEY (group_id) REFERENCES public.cliente_app_secgroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secsettings cliente_app_secsetti_cliente_id_9d1f3f1d_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secsettings
    ADD CONSTRAINT cliente_app_secsetti_cliente_id_9d1f3f1d_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secuser cliente_app_secuser_cliente_id_112b4188_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secuser
    ADD CONSTRAINT cliente_app_secuser_cliente_id_112b4188_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secusersgroups cliente_app_secusers_cliente_id_e8d8684c_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secusersgroups
    ADD CONSTRAINT cliente_app_secusers_cliente_id_e8d8684c_fk_cliente_a FOREIGN KEY (cliente_id) REFERENCES public.cliente_app_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secusersgroups cliente_app_secusers_group_id_46d29529_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secusersgroups
    ADD CONSTRAINT cliente_app_secusers_group_id_46d29529_fk_cliente_a FOREIGN KEY (group_id) REFERENCES public.cliente_app_secgroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cliente_app_secusersgroups cliente_app_secusers_login_id_dc60b984_fk_cliente_a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente_app_secusersgroups
    ADD CONSTRAINT cliente_app_secusers_login_id_dc60b984_fk_cliente_a FOREIGN KEY (login_id) REFERENCES public.cliente_app_secuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

